body {
    background-color: #330033; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #220022; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    margin: 0 auto; 
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #442244;
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF6600; 
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #FF9933; 
}
